<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="TUI Mobile Cucumber Suite" parallel="tests" thread-count="1" verbose="1">
    <test name="Cucumber Scenarios">
        <classes>
            <class name="com.tui.qa.runner.TestRunner"/>
        </classes>
    </test>
</suite>
